DICTIONARY
 - how declare it
 - how to access key and values of a dictionary
 - how to use loops in dictionary
 - indexing in dictionary

In [2]:
student = {
    "name": "John",
    "class": "Physics",
    "roll_no": 12,
    "age" : 18,
    "marks": 70
}
print(student)

{'name': 'John', 'class': 'Physics', 'roll_no': 12, 'age': 18, 'marks': 70}

In [3]:
temp = {
    'lucknow' : [25,30,35],
    'delhi' : [30,35,40],
    'mumbai' : [35,40,45]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'mumbai': [35, 40, 45]}

In [4]:
info = dict(name='John', age=22, city='New York')
print(info)

{'name': 'John', 'age': 22, 'city': 'New York'}

In [5]:
info2 = dict([('name', 'John'), ('age', 22), ('city', 'New York')])
print(info2)

{'name': 'John', 'age': 22, 'city': 'New York'}

In [6]:
info3 = dict(name = input("Enter your name: "), age = int(input("Enter your age: ")), 
             city = input("Enter your city: "))
print(info3)

{'name': 'areeba', 'age': 21, 'city': 'lko'}

In [8]:
#1st method to acces value through key
print(student['name'])
print(student['roll_no'])

John
12

In [11]:
#2nd method
print(student.get('name'))
print(student.get('roll_no'))
print(student.get('marks'))

John
12
70

In [14]:
#to add items in a dictionary
student['school'] = 'DPS'
student['city'] = 'Lucknow'
print(student)

{'name': 'John', 'class': 'Physics', 'roll_no': 12, 'age': 18, 'marks': 70, 'school': 'DPS', 'city': 'Lucknow'}

In [17]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'class', 'roll_no', 'age', 'marks', 'school', 'city'])
dict_values(['John', 'Physics', 12, 18, 70, 'DPS', 'Lucknow'])
dict_items([('name', 'John'), ('class', 'Physics'), ('roll_no', 12), ('age', 18), ('marks', 70), ('school', 'DPS'), ('city', 'Lucknow')])

In [18]:
for k in student:
    print(k)

name
class
roll_no
age
marks
school
city

In [20]:
for k,v in student.items():
    print(f'{k} : {v}')

name : John
class : Physics
roll_no : 12
age : 18
marks : 70
school : DPS
city : Lucknow

In [21]:
company = {
    'emp001' : {'name' : 'John', 'age' : 27, 'dept' : 'HR', 'salary' : 30000},
    'emp002' : {'name' : 'Smith', 'age' : 24, 'dept' : 'Engineering', 'salary' : 50000},
    'emp003' : {'name' : 'Mark', 'age' : 30, 'dept' : 'Finance', 'salary' : 40000}
}
print(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000}, 'emp002': {'name': 'Smith', 'age': 24, 'dept': 'Engineering', 'salary': 50000}, 'emp003': {'name': 'Mark', 'age': 30, 'dept': 'Finance', 'salary': 40000}}

In [24]:
from pprint import pp
pp(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000},
 'emp002': {'name': 'Smith', 'age': 24, 'dept': 'Engineering', 'salary': 50000},
 'emp003': {'name': 'Mark', 'age': 30, 'dept': 'Finance', 'salary': 40000}}

In [26]:
print(company['emp002']['name'])

Smith

In [27]:
print(temp['lucknow'][1])
print(temp['delhi'][2])

30
40

In [29]:
#print average temperature of delhi
print('Average temperature of Delhi is : ', sum(temp['delhi'])/len(temp['delhi']))

Average temperature of Delhi is :  35.0